html {
  position: relative;
  min-height: 100%;
}

body{
  background-color: #f6f5f3;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin-bottom: 100px;
}

.panel-info{
  margin-top: 25px;
  margin-bottom: 40px;
}

.article-mainpage{
  margin-top: 40px;
  margin-bottom: 60px;
  color: #ff6709;
}

.img-responsive{
  margin-bottom: 40px;
}

.table-responsive{
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.thumbnail{
  overflow: hidden;
}

.caption{
  background-color: #F5F5F5;
}

.above {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }

.above:hover{
 -webkit-transform: scale(1.05);
 -moz-transform: scale(1.05);
 -o-transform: scale(1.05);
 }


.pagination{
  font-size: 15pt;

}

.pagination-style{
  color: #ff6709;
}
.pagination>li>span {
  color: white;
  background-color: #ff6709;
}
.pagination>li>span:hover{
  color: white;
  background-color: #FF5722;
}
.navbar-default-color{
  background-color: white;
}

.glyphicon-menu-right{
  color: #ff6709;
}
.glyphicon-menu-right:hover{
  color: #FF5722;
}

.glyphicon-menu-left{
  color: #ff6709;
}
.glyphicon-menu-left:hover{
  color: #FF5722;
}

.pagination-controle-left{

}

.page-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
/* Set the fixed height of the footer here */
  height: 100px;
}

.thumbnail{
  background-color: white;
}
.thumbnail:hover{
  background-color: #FBE9E7;
  color: white;
  box-shadow: 0 0 15px #ff6709;
}

.item-name{
  color: #ff6709;
}
.item-name:hover{
  color: #FF5722;
}
.item-price{
  color: #212121;
}

.listproducts{
  margin-bottom: 20px;
}

.navbar.navstyle{
  margin-bottom: 40px;
}

.bg-ruby {
  font-family: 'Montserrat', sans-serif;
  background-color: #2c3338;
}


.navbar{
  margin:0;
  border-radius: 0 !important;
}

.img-responsive.mainpic{
  position:relative;
}


.product-detail{
  font-family: sans-serif;
}

.info {
  margin-top: 100px;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}


}
.selected:hover{
  color: white;
  background-color: #F4511E;
}

.FAQ{
  color: #ff6709;
}

.FAQ:hover{
  color:white;
}


.footerlinktop:hover{
  color:white;
}
.footerlinktop{
  color: #ff6709;
}

.footerlink:hover{
  color:white;
}
.footerlink{
  color: #ff6709;
}
.footer-picture{
  margin-left: 5px;
  margin-right: 5px;
}
.footer-picture:hover{
  background: rgba(0,0,0,0.2);
  cursor: pointer;
}




@media (max-width: 767px) {
        /*xs*/
        .adaptive-button{
          text-align: center;
        }

        .btn-malin {
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          text-align: center;
          color: #ff6709;
          background-color: white;
          border-color: #ff6709;
          margin-bottom: 30px;
          margin-top: 15px;
        }
        .btn-malin:hover{
          font-family: 'Montserrat', sans-serif;
          background-color: #ff6709;
          color: white;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        /*sm*/
        .adaptive-button{
          text-align: center;
        }

        .btn-malin {
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          color: #ff6709;
          background-color: white;
          border-color: #ff6709;
          margin-bottom: 30px;
          margin-top: 15px;
        }
        .btn-malin:hover{
          font-family: 'Montserrat', sans-serif;
          background-color: #ff6709;
          color: white;
        }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        /*md*/
        .adaptive-button{
          text-align: center;
        }

        .btn-malin {
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          color: #ff6709;
          background-color: white;
          border-color: #ff6709;
          margin-bottom: 30px;
          margin-top: 15px;
        }
        .btn-malin:hover{
          font-family: 'Montserrat', sans-serif;
          background-color: #ff6709;
          color: white;
        }
    }
    @media (min-width: 1200px) {
        /*lg*/
        .adaptive-button{
          text-align: center;
        }
        .btn-malin {
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
          color: #ff6709;
          background-color: white;
          border-color: #ff6709;
          margin-bottom: 30px;
          margin-top: 15px;
        }
        .btn-malin:hover{
          font-family: 'Montserrat', sans-serif;
          background-color: #ff6709;
          color: white;
        }
    }


    .btn-search{
      font-family: 'Montserrat', sans-serif;
      height: 32px;
      color: #ff6709;
      background-color: white;
      border-color: #ff6709;
      margin-left: 5px;

    }
    .btn-search:hover{
      font-family: 'Montserrat', sans-serif;
      background-color: #ff6709;
      color: white;
    }

.search-bar{
  height: 32px;
  width: 320px;
  color: #212121;
}

.search-bar:active{
}

.search-bar:hover{

}


.navbar-form{
  margin-top: 10px;

}


.card {
  min-width: 0;
  width: 100%;
  background:  #F5F5F5;
  color: #696969;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  border: none;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 70px;
}
.card .card-img-container .card-img {
  background-size: cover;
  background-position: top center;
  display: block;
}
.card .card-img {
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card .card-img-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.card .card-content {
  text-align: center;
  min-height: 80px;
  height: 100%;
}
.card .card-content h2 {
  font-size: 20px;
  line-height: 1.4;
}
.card h2 a {
  color: black;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
a:hover{
    text-decoration:none;
}
.card:hover h2 a {
  color: #ff6709;
}

.box-shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
}
