{% extends "information/base.html" %}
{% block content %}

	<div class="container">
		<div class="row-fluid box-shadow">
	     	<div class="span8">
	        	<iframe style="margin-top: 20px; margin-bottom: 20px" width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9416.862849796295!2d27.570633250180933!3d53.83902713136276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTPCsDUwJzIwLjUiTiAyN8KwMzQnNDUuOCJF!5e0!3m2!1sru!2sby!4v1525258624493"></iframe>
	    	</div>
				<div class="col-lg-6">
					<div class="panel panel-info box-shadow">
							<div class="panel-heading" style="background-color: #ff6709; color: white; text-align: center;">
								<h3 class="panel-title">О нас</h3>
							</div>
							<div class="panel-body" style="color: #212121">
								Нам важен каждый покупатель, и мы готовы давать самые лучшие цены в Минске и в Беларуси.
							</br>Продаём технику Xiaomi с 2015 года и являемся лидерами по продажам данного бренда на территории Беларуси.
								</br>
								Если вы найдёте цену ниже, то мы сделаем Вам скидку. </br>Мы открыты для сорудничества.
							</br>
							<b>«КсиаомиСторМур»</b>
							</div>
						</div>
			</div>
	      	<div class="col-lg-6">
						<div class="panel panel-info box-shadow">
							  <div class="panel-heading" style="background-color: #ff6709; color: white; text-align: center">
							    <h3 class="panel-title">Реквизиты</h3>
							  </div>
							  <div class="panel-body" style="color: #212121">
									ООО «КсиаомиСторМур» </br>
									УНП	  14881337322</br>
									ОКПО       	  37456315</br>
									Банковские реквизиты	  р/с BY82 PJCB 3012 0178 8999 0000 0933, в ОАО "Приорбанк", ЦБУ 109 , код 749</br>
									Юридический адрес	 220040, ул. Янки Лучины, 48</br>
									Почтовый адрес	 220112 г.Минск, ул. Чижа, 27
							  </div>
							</div>
	      	</div>
	    </div>
	</div>

{% endblock %}
