{% extends "information/base.html" %}
{% block content %}

	<div class="container">
		<div class="row-fluid">
				<div class="col-lg-12">
					<div class="panel panel-info box-shadow">
							<div class="panel-heading" style="background-color: #ff6709; color: white; text-align: center">
								<h1 class="panel-title" style="font-size: 30px;">FAQ</h1>
							</div>
							<div class="panel-body" style="color: #212121">
                        <h2 class="text-center">Как совершить заказ?</h2>
                          <h4>
                          1. Выбрать нужную категорию / Ввести в поиск интересующий Вас товар</br>
                          2. Выбрать нужный Вам товар из списка</br>
                          3. Выбрать количество и нажать "Добавить в корзину"</br>
                          4. Если Вам нужны ещё товары, то повторить все действия с первого пункта до данного</br>
                          5. Если какой-то товар Вам не нужен, то перейдя в Ваши заказы, Вы можете нажать кнопку "Удалить", напротив не нужного Вам товара</br>
                          6. После того, как Вы выбрали то, что Вам нужно, в "Ваша корзина" нажмите кнопку "Оформить заказ"</br>
                          7. Введите верно свои данные и нажмите на кнопку "Создать заказ". После данного действия Вы получите уведомление на почту об успешном создании заказа</br>
                          </h4>
                          <h2 class="text-center">Как найти нас в соц. сетях?</h2>
                            <h4>
                            1. Опустить страницу вниз</br>
                            2. Выбрать подходящую соц. сеть</br>
                            </h4>
                          <h2 class="text-center">Как зарегистрировать аккаунт?</h2>
                            <h4>
                              На данном сайте отсутсвует регистрация для Вашего удобства, добавляйте товары в корзину и оформляйте заказ, указавыя при этом правильные данные</br>
                            </h4>
							</div>
							<div class="col-lg-12">
									<div class="embed-responsive embed-responsive-4by3">
					          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qq7mYJ3Zw8M" frameborder="0" allowfullscreen></iframe>
					        </div>
							</div>
						</div>

			</div>
	    </div>
	</div>
{% endblock %}
