{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Оформление заказа{% endblock %}

{% block content %}
  <div class="well well-lg" >
    <div class="row">
        <h1>Ваш заказ</h1>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }} </br>{{ item.total_price }} руб.
                </li>
            {% endfor %}
        </ul>
        <p>Сумма заказа: {{ cart.get_total_price }} руб.</p>
    </div>
    <div class="row">
    <form action="." method="post" class="order-form">
        {% bootstrap_form form %}
        <div class="adaptive-button">
          <button type="submit" class="btn btn-malin">Создать заказ</button>
        </div>
        {% csrf_token %}
    </form>
    </div>
  </div>
{% endblock %}
